*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right,#345057, #446971);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
}

.display{
    width: 100%;
    height: 25vh;
    background: rgb(255, 68, 186);
    color: rgb(238, 201, 91);

}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    border:none;
    background-color: rgb(67, 189, 242);
    padding:1.6rem;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    font-weight: bold;
}


.output{
    font-size: 28px;
    padding: 25px;
}

.result{
    font-size: 18px;
    padding: 25px;
}

@keyframes big{
    0%{
        font-size: 20px;
    }
    100%{
        font-size: 30px;
    }
}

@keyframes small{
    0%{
        font-size: 28px;
    }
    100%{
        font-size: 18px;
    }
}